<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AiApp</a>
      </div>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="users/{{tokenStorage.getUsername()}}">{{tokenStorage.getUsername()}}</a>
        </li>
        <li *ngIf="authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="users">Admin Board</a>
        </li>
        <li *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users">Użytkownicy</a>
        </li>
        <li *ngIf="authority" class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="auth/login" >Wyloguj</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>