h4 {
	text-align: center;
}

body {
  height: 100%;
	padding-bottom: 3rem;
  background-color: rgb(219, 219, 219);
  min-height: 100vh;
}

.navbar{
 margin: 0;
}

.container {
  display: flex;
  width: 100%;
  margin: 0;
}
.main-container {
  margin: 0;
  width: 85%;
  padding: 0.7rem;
}
.chat-container {
  margin: 0.7rem;
  margin-top: 7rem;
  padding: 0.7rem;
  height: 80vh;
  width: 15%;
  border: 1px black solid;
}

.chat-container {
  position: fixed;
  right: 0;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    overflow:scroll;
    height: 85%;
}
   
 #chat-input {
  width: 100%;
}

.message-info {
  font-size: 1rem;
}