<div class="col-lg-10">
    <h1 class="mt-4">{{advertisment.title}}</h1>

    <img src="http://placehold.it/600x300" alt="">
    <hr>
    <p>{{advertisment.description}}</p>
</div>
<div class="col-lg-2">
    <p class="lead">CENA: {{advertisment.price}}</p>
    <p class="lead">
        <a href="#">{{advertisment.userName}}</a>
    </p>
    <p class="lead">Nr telefonu</p>
    <p>{{advertisment.phoneNumber}}</p>
    <p class="lead">Adres</p>
    <p>{{advertisment.city}}</p>
    <p>
        <button type="button" class="btn btn-primary">CZAT ONLINE </button>
    </p>
</div>