<div class="col-lg-10">
    <h1 class="mt-4">{{advertisment.title}}</h1>
    <div *ngIf="advertisment.image">
    <img src="assets/images/{{advertisment.image}}" />
    </div>
    <hr>
    <p>{{advertisment.description}}</p>
</div>
<div class="col-lg-2">
    <p class="lead">CENA: {{advertisment.price}}</p>
    <p class="lead">
        <a href="/users/{{advertisment.userName}}">{{advertisment.userName}}</a>
    </p>
    <p class="lead">Nr telefonu</p>
    <p>{{advertisment.phoneNumber}}</p>
    <p class="lead">Adres</p>
    <p>{{advertisment.city}}</p>
    <p *ngIf="advertisment.userName==tokenStorage.getUsername() ||  tokenStorage.getAuthorities().includes('ROLE_ADMIN')">
        <a routerLink="./edit" class="btn btn-primary">EDYTUJ</a>
    </p>
    <p *ngIf="advertisment.userName==tokenStorage.getUsername() ||  tokenStorage.getAuthorities().includes('ROLE_ADMIN')">
        <button type="button" (click)=deleteAdvertisment(advertisment.id) class="btn btn-danger">USUŃ</button>
    </p>
    <p>
        <a routerLink=".." class="btn btn-warning">WRÓĆ</a>
    </p>
</div>