<h3>Dodaj Ogłoszenie</h3>
<form (ngSubmit)="preSubmit() && f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="form-group">
    <label for="title">Tytuł</label>
    <input type="text" class="form-control  vertical-padding" id="title" required [(ngModel)]="advertisment.title" name="title" #title="ngModel" minlength="3" maxlength="30"/>
    <div *ngIf="submitted && title.invalid">
      <div class="error" *ngIf="title.errors.required">Tytuł jest wymagany</div>
      <div class="error" *ngIf="title.errors.minlength">Tytuł musi mieć co najmniej 3 znaki</div>

    </div>
    <label for="description">Description</label>
    <textarea type="text" rows="10" class="form-control vertical-padding" id="description" required [(ngModel)]="advertisment.description" name="description" #description="ngModel" maxlength="3000"></textarea>
    <div *ngIf="submitted && description.invalid">
      <div class="error" *ngIf="description.errors.required">Opis jest wymagany</div>
    </div>
    <label for="price">Cena</label>
    <input type="number" class="form-control vertical-padding"id="price" required [(ngModel)]="advertisment.price" name="price" #price="ngModel"/>
    <div *ngIf="submitted && price.invalid">
      <div class="error" *ngIf="price.errors.required">Cena jest wymagana</div>
    </div>
    <label for="image">Obrazek</label>
    <input type="file"(change)="onFileChanged($event)" id="image" >
    <div class="buttons">
        <button type="submit" class="btn btn-success">Dodaj</button>
        <a routerLink=".."><button class="btn btn-warning">Wróć</button></a>
    </div>
  </div>
</form>
<div *ngIf="isAdded" class="alert">
  Ogłoszenie zostało prawidłowo dodane.</div>

