<h3>Create ADVERTISMENT</h3>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control  vertical-padding" id="title" required [(ngModel)]="advertisment.title" name="title">
    <label for="description">Description</label>
    <textarea type="text" class="form-control vertical-padding" id="description" required [(ngModel)]="advertisment.description" name="description"><</textarea>
    <label for="price">Price</label>
    <input type="number" class="form-control vertical-padding"id="price" required [(ngModel)]="advertisment.price" name="price">
        <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

<a routerLink=".."><button class="btn">GO BACK</button></a>
