.vertical-padding {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

h3 {
    text-align: center;
}

.error {
    color: red;
}

#image {
    margin: 0.7rem 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    >* {
        margin: 0.7rem;
    }
}