<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div class="error" *ngIf="username.errors.required">Nazwa użytkownika jest wymagana</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div class="error" *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div class="error" *ngIf="password.errors.minlength">Hasło musie mieć co najmniej 6 znaków</div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">Imie</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="form.firstName" #firstName="ngModel"
          required firstName />
        <div *ngIf="f.submitted && firstName.invalid">
          <div class="error" *ngIf="firstName.errors.required">Imie jest wymagane</div>
        </div>
      </div>
      <div class="form-group">
        <label for="sureName">Nazwisko</label>
        <input type="text" class="form-control" name="sureName" [(ngModel)]="form.sureName" #sureName="ngModel"
          required sureName />
        <div *ngIf="f.submitted && sureName.invalid">
          <div class="error" *ngIf="sureName.errors.required">Nazwisko jest wymagane</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Numer telefonu</label>
        <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="form.phoneNumber" #phoneNumber="ngModel"
          required phoneNumber />
        <div *ngIf="f.submitted && phoneNumber.invalid">
          <div class="error" *ngIf="phoneNumber.errors.required">Numer telefonu jest wymagany</div>
        </div>
      </div>
      <div class="form-group">
        <label for="city">Miasto</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="form.city" #city="ngModel" required city />
        <div *ngIf="f.submitted && city.invalid">
          <div class="error" *ngIf="city.errors.required">Miasto jest wymagane</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Adres</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="form.address" #address="ngModel" required
          address />
        <div *ngIf="f.submitted && address.invalid">
          <div class="error" *ngIf="address.errors.required">Adres is required</div>
        </div>
      </div>
        <div class="form-group">
          <button class="btn btn-primary">Zarejestruj</button>
          <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
            Rejestracja zzakończona niepowodzeniem<br />{{errorMessage}}
          </div>
        </div>
    </form>
  </div>
</ng-template>