<h1>{{user.userName}}</h1>
<div class="details-content">
  <span>IMIE: {{user.firstName}}</span>
  <span>NAZWISKO: {{user.sureName}}</span>
  <span>NUMER TELEFONU: {{user.phoneNumber}}</span>
  <span>MIASTO: {{user.city}}</span>
  <span>ADRES: {{user.address}}</span>
</div>
<div class="nav-buttons">
  <div>
    <a routerLink=".." class="btn btn-warning">WRÓĆ</a>
  </div>
  <div>
      <a *ngIf="user.userName==tokenStorage.getUsername() ||  tokenStorage.getAuthorities().includes('ROLE_ADMIN')" routerLink="./edit" class="btn btn-primary">EDYTUJ</a>
  </div>
</div>