<h3>EDYCJA OGLOSZENIA</h3>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Tytuł</label>
    <input type="text" class="form-control  vertical-padding" id="title" required [(ngModel)]="advertisment.title" name="title">
    <label for="description">Opis</label>
    <textarea type="text" rows="10" class="form-control vertical-padding" id="description" required [(ngModel)]="advertisment.description" name="description"><</textarea>
    <label for="price">Cena</label>
    <input type="number" class="form-control vertical-padding"id="price" required [(ngModel)]="advertisment.price" name="price">
    <label for="image">Obrazek</label>
    <input type="file"(change)="onFileChanged($event)" id="image" >
    <div class="buttons">
      <a  (click)="updateAdvertisment()" class="btn btn-success">POTWIERDŹ</a>
      <a routerLink=".." class="btn btn-warning">WRÓĆ</a>
    </div>
        
  </div>
</form>


