<h1 class="my-4">Ogłoszenia
</h1>
<div class="search-bar">
    <input type="text" placeholder="Szukaj.." [(ngModel)]="filter" />
    <button (click)=filterAdvertisments()>WYSZUKAJ</button>
</div>
<div *ngIf="tokenStorage.getAuthorities().length" class="create-button">
    <a routerLink="./create" class="btn btn-success">DODAJ OGłOSZENIE</a>
</div>
<div *ngFor="let advertisment of filteredAdvertisments | async" class="row">
    <div class="two-col">
        <div>
            <a routerLink="./{{advertisment.id}}">
                <img *ngIf="!advertisment.image" src="http://placehold.it/700x300" />
                <img *ngIf="advertisment.image" src="assets/images/{{advertisment.image}}" />
            </a>
        </div>
        <div>
            <div>
                <h3>{{advertisment.title}}</h3>
                <h4>Cena: {{advertisment.price}} zł</h4>
            </div>

            <p>{{getShortDescription(advertisment)}}</p>


            <div>
                <a routerLink="./{{advertisment.id}}" class="btn btn-primary">Sczegóły</a>
                <a *ngIf="tokenStorage.getAuthorities().includes('ROLE_ADMIN')" (click)=deleteAdvertisment(advertisment.id) class="btn btn-danger">Usuń</a>
            </div>

        </div>
    </div>
    <hr>
</div>