<h1 class="my-4">Ogłoszenia
</h1>
<div class="search-bar">
    <input type="text" placeholder="Szukaj..">
    <button type="submit">WYSZUKAJ</button>
</div>
<div class="create-button">
    <a routerLink="./create" class="btn btn-success">DODAJ OGLOSZENIE</a>
</div>
<div *ngFor="let advertisment of advertisments | async" class="row">
    <div class="two-col">
        <div>
            <a routerLink="./{{advertisment.id}}">
                <img class="" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div>
            <div>
                <h3>{{advertisment.title}}</h3>
                <h4>Cena: {{advertisment.price}} zł</h4>
            </div>

            <p>{{getShortDescription(advertisment)}}</p>


            <div>
                <a routerLink="./{{advertisment.id}}" class="btn btn-primary">Details</a>
                <a (click)=deleteAdvertisment(advertisment.id) class="btn btn-danger">USUN</a>
            </div>
        </div>
    </div>
    <hr>
</div>