$defaul-padding: 0.7rem;

h1 {
  text-align: center;  
}

.create-button {
    padding: $defaul-padding 0;
    a {
        width: 100%;
    }  
}

.search-bar {
    > input {
        width: 90%;
    }
    > button {
        width: 10%;
    }
}

a {
    margin: 0.7rem;
}

hr {
    margin-left: $defaul-padding;
    margin-right: $defaul-padding;
    border-color: white;
}

.two-col {
    display:flex;

    >div:first-child {
        padding: $defaul-padding;
        width: 30%;
    }

    > div:last-child {
        padding: $defaul-padding;
        padding-left: $defaul-padding*3;
        width: 70%;
        > * {
            margin: 0;
            height: 25%;
            &:first-child {
                display: flex;
                flex-direction: row;
                > * {
                    width:50%;
                    margin: 0;
                }
            }
        }

        > p {
            height: 50%;
        }

    }

    // .img-container {
    //     border:1px solid black;
    // }
    // img {
    //     margin: auto;
    // display: block;
    //     max-height: 150px;
    //     object-fit: fill;
    // }
img {
    width: 100%;    
    height: 100%;
        max-height: 150px;
        object-fit: fill;
    }
    p {
        word-wrap:break-word;
    }
}